body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    background-color: #EEE;
}

.avatar{  
  margin: 0px 20px 0px 0px;
  float: left; 
  border-radius: 5px;
  border: 1px solid #999999;
  width: 200px; height: 200px;
}

#charts{
  background-color: white;
  border-style: solid;
  border-color: #999999;
  border-width: 1px;
  width: 95%;
    margin: 0px auto;   
}

.title{
  width: 80%; 
  margin: auto;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}





path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

  .bar {
  fill: #3383FF;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  /*display: none;*/
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.section {
  margin-left: 50px;  
}