<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>StoryGraph: 404</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

	<ul class="nav">
	  <li><a href="/">Home</a></li>
	  <li><a href="/graphs/polar-media-consensus-graph/" target="_blank">Polar Consensus Graph</a></li>
	  <li><a href="/graphs/generic/" target="_blank">Generic Graphs</a></li>
	  <li><a href="/stats/">Stats</a></li>
	  <li><a href="https://twitter.com/intent/user?screen_name=storygraphbot" target="_blank">Follow @storygraphbot</a></li>
	</ul>

	<pre>

						    ██╗     ██╗  ██╗ ██████╗ ██╗  ██╗                                    
						██╗██╔╝     ██║  ██║██╔═████╗██║  ██║                                    
						╚═╝██║      ███████║██║██╔██║███████║                                    
						██╗██║      ╚════██║████╔╝██║╚════██║                                    
						╚═╝╚██╗          ██║╚██████╔╝     ██║                                    
						    ╚═╝          ╚═╝ ╚═════╝      ╚═╝                                    

						██████╗  █████╗  ██████╗ ███████╗           
						██╔══██╗██╔══██╗██╔════╝ ██╔════╝           
						██████╔╝███████║██║  ███╗█████╗             
						██╔═══╝ ██╔══██║██║   ██║██╔══╝             
						██║     ██║  ██║╚██████╔╝███████╗           
						╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝           
						                                            
						███╗   ██╗ ██████╗ ████████╗                
						████╗  ██║██╔═══██╗╚══██╔══╝                
						██╔██╗ ██║██║   ██║   ██║                   
						██║╚██╗██║██║   ██║   ██║                   
						██║ ╚████║╚██████╔╝   ██║                   
						╚═╝  ╚═══╝ ╚═════╝    ╚═╝                   
						                                            
						███████╗ ██████╗ ██╗   ██╗███╗   ██╗██████╗ 
						██╔════╝██╔═══██╗██║   ██║████╗  ██║██╔══██╗
						█████╗  ██║   ██║██║   ██║██╔██╗ ██║██║  ██║
						██╔══╝  ██║   ██║██║   ██║██║╚██╗██║██║  ██║
						██║     ╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝
						╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝ 
	</pre>

</body>
</html>